*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
    font-family: 'Roboto Slab', serif;
}
header{
    padding: 20px;
    background-color: white;
}
body{
    background-color:rgb(245, 247, 248)
}
#logo{
    vertical-align: middle;
}
h1{
    display: inline-block;
    vertical-align: middle;
}
.task-container{
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
}
button{
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    color: silver;
}
.acqua{
    color: white;
    background-color:rgb(61, 161, 231)
}
.spunta{
    border-radius: 100%;
    border: 1px solid;
    padding: 2px;
}
.check{
    color: rgb(89, 184, 159);  
}
.uncheck{
    color:rgb(232, 81, 74)

}
.task{
    display: inline-block;
    font-size: small;
    color: white;
    border-radius: 10px;
    padding: 5px;
}
.editorial{
    background-color: rgb(61, 161, 231);
}
.q1{
    background-color: rgb(145, 103, 224);
}
.rec{
    background-color: rgb(89, 184, 159);
}
.mb{
    background-color: rgb(240, 148, 45);
}