*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
    font-family: 'Roboto Slab', serif;
}
header{
    padding: 20px;
    background-color: white;
}
body{
    background-color:rgb(245, 247, 248)
}
#logo{
    vertical-align: middle;
}
h1{
    display: inline-block;
    vertical-align: middle;
}
.task-container{
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
}
button{
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    color: silver;
}
.acqua{
    color: white;
    background-color:rgb(61, 161, 231)
}
.check{
    color: rgb(89, 184, 159);
    border-radius: 100%;
    border: 1px solid rgb(89, 184, 159);
    padding: 2px;
}
.task{
    display: inline-block;
    color: white;
    border-radius: 10px;
    padding: 5px;
}
.editorial{
    background-color: rgb(61, 161, 231);
}